{% extends "draft/base.html" %}
{% block content%}
    <!--User profile page-->
    <div class="content-section">
        <p class="border-bottom mb-4">My Leagues</p>
        {% for league in user.league_set.all%}
            <li class="list-group-item list-group-item-light"><a href="/draft/{{league.leagueId}}/">League ID: {{league.leagueId}}</a><br>
            <small class="muted-text ">Teams: {{league.teams}}, Rounds: {{league.rounds}}</small>
            </li>
        {% endfor %}
    </div>

{% endblock content %}