{% extends "draft/base.html" %}
{% block content%}
    <div class="content-section">
        <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
        </div>
        <!-- FORM HERE -->
    </div>
    <!--User profile page-->
    <div class="content-section">
        <p class="border-bottom mb-4">My Leagues</p>
        {% for league in user.league_set.all%}
            <li class="list-group-item list-group-item-light"><a href="/draft/{{league.leagueId}}/">League ID: {{league.leagueId}}</a><br>
            <small class="muted-text ">Teams: {{league.teams}}, Rounds: {{league.rounds}}</small><br>
            <small class="muted-text ">Date Created: {{league.date_created|date:"F d, Y, g:iA T"}}</small>
            </li>
        {% endfor %}
    </div>

{% endblock content %}