{% extends "draft/base.html" %}
{% block content%}
    <div class="container">
        <table>
            <tr>
                <!---Form to select Draft Order-->
                <form method="POST" id="draft-order">
                    {%csrf_token %}
                    {% for team in order%}
                        <th><select name="team{{team.position}}">
                            {% for name in names %} 
                                {% if name == team.name %}
                                    <option selected>{{name}}</option>
                                {% else %}
                                    <option>{{name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select></th>
                    {% endfor %}
                </form>
            <!--Draft Table-->
            </tr>
            {% for round in picks%}
                <tr>
                    {% for pick in round %}
                        {% if pick.round == league.curr_round and pick.number == league.curr_pick%}
                            <td class="curr-pick">On The Clock
                        {% else %}
                            <td class="pick">
                        {% endif %}
                        {% if pick.player == 'placeholder'%}
                            </td>
                        {% else %}
                            {{pick.player}}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <!--Save new draft order, submit for above form-->
        <button type="submit" form="draft-order" formaction="/save/{{league.leagueId}}/">Save Draft Order</button><br><br>

        <!--Player ranking table-->
        <!--TODO: Draft button functionality-->
        <table class="ranking">
            <tr class="ranking">
                <th class="ranking">Rank</th>
                <th class="ranking">Name</th>
                <th class="ranking">Team</th>
                <th class="ranking">Position</th>
                <th class="ranking">2020 Projection</th>
                <th class="ranking">2019 Points</th>
            </tr>
            {%for player in players%}
                {% if not player.name == 'placeholder' %}
                    {% if not player.drafted %}
                        <tr class="ranking">
                            <td class="ranking">{{player.rank}}</td>
                            <td class="ranking">{{player.name}}</td>
                            <td class="ranking">{{player.team}}</td>
                            <td class="ranking">{{player.position}}</td>
                            <td class="ranking">{{player.projection}}</td>
                            <td class="ranking">{{player.points}}</td>
                            <td><button type="button"> Draft</button></td>
                        
                        </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </table>
    </div>
{% endblock content %}
