{% extends "draft/base.html" %}
{% block content%}

    <form method="post">
        {%csrf_token %}
        League ID:
        <input type="text" name="param" required> <br><br>
        # of Teams:
        <input type="number" name="numTeams" value=10> <br><br>
        # of Rounds:
        <input type="number" name="numRounds" value=4> <br><br>
        <input type="submit" value="Register League" formaction="/draft/"> 
        <input type="submit" value="Draft Room" formaction="/draft/"><br><br>
                
    </form>
{% endblock content %}
