{% extends "draft/base.html" %}
{% block content%}
    <!--View-Only league page-->
    <div class="container">
        <!--Draft Table-->
        <table>
            <tr>
                {% for team in order%}
                <th><textarea class="draft" readonly>{{team}}</textarea></th>
                {% endfor %}
            </tr>
            {% for round in picks%}
                <tr>
                    {% for pick in round %}
                        {% if pick.round == league.curr_round and pick.number == league.curr_pick%}
                            <td class="curr-pick">On The Clock
                        {% else %}
                            <td class="pick">
                        {% endif %}
                        {% if pick.player == 'placeholder'%}
                            </td>
                        {% else %}
                            {{pick.player}}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table> <br><br>

        <!--Player Ranking Table-->
        <table class="ranking">
            <tr class="ranking">
                <th class="ranking">Rank</th>
                <th class="ranking">Name</th>
                <th class="ranking">Team</th>
                <th class="ranking">Position</th>
                <th class="ranking">2020 Projection</th>
                <th class="ranking">2019 Points</th>
            </tr>
            {%for player in players%}
                {% if not player.drafted %}
                    <tr class="ranking">
                        <td class="ranking">{{player.rank}}</td>
                        <td class="ranking">{{player.name}}</td>
                        <td class="ranking">{{player.team}}</td>
                        <td class="ranking">{{player.position}}</td>
                        <td class="ranking">{{player.projection}}</td>
                        <td class="ranking">{{player.points}}</td>
                    
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
{% endblock content %}
