body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }

  th{
    text-align: center;
  }

  select{
    width:100px;
  }

  .ranking{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    }
    
  ul {
    margin: 0;
  }
  
  .draft{
    width: 100px;
    height: 30px;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    border: none;
    resize: none;
  }

  .pick{
    width: 100px;
    height: 60px;
    padding: 10px;
    border: 1px solid white;

    background: #C4C4C4;
    border-radius: 10px;
  }

  .ff-green {
    background-color: #39b54a;
  }

  .nav{
    margin: 1px;
    background-color: #39b54a;
    border: none;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  /* Dropdown Button */
.dropbtn {
  background-color: #39b54a;
  color: #cbd5db;
  font-size: 16px;
  border: none;
  white-space: nowrap;
  padding: 8px 0;
}

.dropbtn:hover{
  color: #ffffff;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.draft-order-btn{
  display: block;
  margin-left: auto;
  margin-right: 0;
}
